/* seteos iniciales */
* {
  margin: 0;
  padding: 0;
}

/* seteos generales */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "SourceSansPro";
  line-height: 150%;
}
body p {
  color: #444444;
  font-size: 20px;
}
body h2 {
  color: #444444 !important;
}
body h3 {
  color: #444444 !important;
}

/* fuente general */
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
/*fuente health*/
@font-face {
  font-family: "ShadowsIntoLight";
  src: url("../fonts/ShadowsIntoLight-Regular.ttf");
}
/* seteos de navbar, logo y menu */
#imglogo {
  width: 200px;
  padding-left: 10px;
  margin-left: 8px;
  margin-bottom: 0%;
  margin-top: 1%;
}

.tituloH1 {
  position: relative;
  color: #ebebeb;
  font-family: "ShadowsIntoLight";
  left: 210px;
  top: -70px;
  font-size: 34pt;
}

.navbar {
  background-color: #444444;
  padding-bottom: 200px;
}

.container-fluid {
  max-height: 100px;
}

.navbar-brand {
  max-height: 100px;
}

.navbar-toggler {
  position: relative;
  transition: 0.4s;
}

.navbar-toggler:hover,
:active,
:focus {
  border-color: #afafaf;
}

.offcanvas-header,
.offcanvas-body {
  background-color: #444444;
}

.logo {
  width: 100%;
}

/* seteos de pie de pagina */
footer {
  background-color: #444444;
  width: 100%;
  text-align: center;
}

footer h2 {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #ebebeb !important;
  font-size: 12pt;
}

footer p {
  color: #ebebeb;
  font-family: "SourceSansPro";
  font-size: 8pt;
  margin-bottom: 0px;
}

footer img {
  max-width: 50px;
  border: 0px rgb(255, 255, 255) solid;
  border-radius: 80px;
  transition: 0.5s;
  filter: brightness(50%);
}
footer img:hover {
  max-width: 60px;
  filter: brightness(100%);
}

.whatsappBtn {
  position: sticky;
  left: 94%;
  top: 80%;
  height: 55px;
  width: 55px;
}
.whatsappBtn img {
  border: 0px solid;
  border-radius: 80px;
  width: 60px;
  transition: 0.4s;
  filter: brightness(50%);
}
.whatsappBtn img:hover {
  filter: brightness(100%);
}

.h2titulo {
  margin-top: 100px;
  margin-bottom: 30px;
}

/* seteos de index */
.divimg1 img {
  margin-top: 30px;
}

.div-tecnologia,
.div-analisis,
.div-award {
  margin-top: 50px;
  margin-bottom: 40px;
}

.mapa {
  margin-top: 10px;
  margin-bottom: 50px;
}
.mapa iframe {
  width: 100%;
  height: 250px;
  transition: 0.5s;
}
.mapa iframe:hover {
  width: 105%;
  height: 280px;
}

.boletin {
  margin-bottom: 50px;
}
.boletin form {
  background-color: #444444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#gridreginfo button {
  background-color: #444444;
  margin-right: 20px;
  transition: 0.4s;
}
#gridreginfo button:hover {
  background-color: #646464;
  border-color: #646464;
  color: #eeecec;
}

.div-analisis img, .div-tecnologia img, .div-award img {
  width: 100px;
  transition: 0.5s;
}
.div-analisis img:hover, .div-tecnologia img:hover, .div-award img:hover {
  width: 115px;
}

.formbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colnombre .form-control {
  margin-left: 60px;
}

.colemail .form-control {
  margin-left: 70px;
}

.colsubmit .btn {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: #444444;
  transition: 0.4s;
  margin-left: 30px;
}
.colsubmit .btn:hover {
  background-color: #eeecec;
  border-color: #eeecec;
  color: #444444;
}

.descarga-app img {
  width: 150px;
  margin-bottom: 50px;
  transition: 0.4s;
}
.descarga-app img:hover {
  width: 170px;
}
.descarga-app img.googleplay {
  margin-top: 2px;
  width: 145px;
}
.descarga-app img.googleplay:hover {
  width: 165px;
}

/* seteos de estudios */
#estudiosImg4 {
  margin-bottom: 50px;
}

.estudiosImg {
  transition: 0.5s;
  filter: grayscale(100%);
}
.estudiosImg:hover, .estudiosImg:focus {
  filter: grayscale(0%);
}

/* seteos de ordenes */
#ordenesImg1 {
  margin-bottom: 50px;
}

#ordenesDocumento {
  margin-top: 30px;
  padding-left: 5.5%;
}

#ordenesNombrelbl {
  margin-top: 30px;
  padding-left: 5.5%;
}

#ordenesFechalbl {
  margin-top: 30px;
  padding-left: 9%;
}

#ordenesFechainp {
  color: #444444;
}

#ordenesAnalisislbl {
  margin-top: 30px;
  padding-left: 6.5%;
}

#ordenesAnalisis {
  color: #444444;
}

.ordenesEnviar {
  margin-left: 20%;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 30px;
  background-color: #444444;
  border-color: #444444;
  color: #eeecec;
}

/* seteos de staff */
#staffImg3 {
  margin-bottom: 50px;
}

.staffPieImagen1 {
  text-align: center;
}

.staffPieImagen2 {
  text-align: center;
}

.staffImg {
  transition: 0.5s;
  filter: grayscale(100%);
}
.staffImg:hover {
  filter: grayscale(0%);
}

/* seteos de contacto */
.contactoNombrelbl {
  margin-top: 30px;
  padding-left: 16%;
}

.contactoDocumento {
  margin-top: 30px;
  padding-left: 11%;
}

.contactoTelefono {
  margin-top: 30px;
  padding-left: 16%;
}

.contactoMotivo {
  margin-top: 30px;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

.recibirInfolbl {
  margin-top: 30px;
  padding-left: 20%;
}

.recibirInfoinp {
  position: relative;
  left: 2%;
  height: 20px;
  width: 20px;
}

.contactoNosConoce {
  margin-top: 30px;
  padding-left: 0%;
}

.nosConoceSi {
  position: relative;
  left: 57%;
  top: -45px;
  height: 20px;
  width: 20px;
}

.nosConoceSiInp {
  position: relative;
  left: 48%;
  top: -45px;
  height: 20px;
  width: 20px;
}

.nosConoceNo {
  position: relative;
  left: 60%;
  top: -45px;
  height: 20px;
  width: 20px;
}

.nosConoceNoInp {
  position: relative;
  left: 50%;
  top: -45px;
  height: 20px;
  width: 20px;
}

.contactoDetalle {
  position: relative;
  left: 0%;
  top: 118%;
}

.contactoFormulario textarea {
  margin-top: 30px;
  padding-left: 0%;
}

.contactoEnviar {
  margin-top: 40px;
  padding-left: 30%;
  padding-right: 30%;
  margin-left: 60px;
  background-color: #444444;
  border-color: #444444;
  color: #eeecec;
}

#contactoImg1 {
  margin-bottom: 50px;
}

/* media queries */
@media (max-width: 250px) {
  #imglogo {
    width: 70px;
  }
  .tituloH1 {
    left: 70px;
    top: -27px;
    font-size: 14pt;
  }
  .container-fluid {
    max-height: 45px;
  }
  .navbar-toggler {
    top: -15px;
    max-height: 25px;
    max-width: 35px;
  }
  .navbar-toggler-icon {
    right: 5px;
    top: -7px;
    max-width: 20px;
  }
}
@media (max-width: 360px) {
  #imglogo {
    width: 100px;
  }
  .tituloH1 {
    left: 100px;
    top: -35px;
    font-size: 16pt;
  }
  .container-fluid {
    max-height: 55px;
  }
  .navbar-toggler {
    top: -15px;
    max-height: 30px;
    max-width: 40px;
  }
  .navbar-toggler-icon {
    position: relative;
    right: 5px;
    top: -5px;
    max-width: 25px;
  }
}
@media (max-width: 500px) {
  #imglogo {
    width: 150px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  .tituloH1 {
    left: 153px;
    top: -52px;
    font-size: 24pt;
  }
  .container-fluid {
    max-height: 75px;
  }
  .navbar-toggler {
    top: -15px;
  }
  .whatsappBtn img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 768px) {
  .div-tecnologia img,
  .div-analisis img,
  .div-award img {
    width: 80px;
  }
}
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
  .div-tecnologia h3,
  .div-analisis h3,
  .div-award h3 {
    font-size: 20px;
  }
  .whatsappBtn {
    left: 90%;
    top: 72%;
    height: 45px;
    width: 45px;
  }
}
@media (min-width: 768px) {
  .divimg1 {
    margin-top: 110px;
  }
}

/*# sourceMappingURL=styles.css.map */
