@charset "UTF-8";
/* seteos iniciales */
* {
  margin: 0;
  padding: 0;
}

/* seteos generales */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "SourceSansPro";
  line-height: 150%;
}
body p, body label, body input, body select, body textarea {
  color: #444444 !important;
  font-size: 20px !important;
}
body input, body select, body textarea {
  border-color: #afafaf !important;
  color: #afafaf !important;
  transition: 0.5s;
}
body input:focus, body input:active, body select:focus, body select:active, body textarea:focus, body textarea:active {
  border-color: #444444 !important;
  color: #444444 !important;
  box-shadow: 2px 2px #444444 !important;
}
body input:hover, body select:hover, body textarea:hover {
  border-color: #afafaf !important;
  box-shadow: 2px 2px #afafaf !important;
}
body h2 {
  color: #444444 !important;
}
body h3 {
  color: #444444 !important;
}
body textarea {
  resize: none;
}

/* fuente general */
@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}
/*fuente health*/
@font-face {
  font-family: "ShadowsIntoLight";
  src: url("../fonts/ShadowsIntoLight-Regular.ttf");
}
/* SE DEFINEN LOS MIXIN PARA INCLUIRLOS EN EL SITIO WEB */
/* seteos de navbar, logo y menu */
.navbar {
  background-color: #444444;
  padding-bottom: 200px;
}
.navbar .container-fluid {
  max-height: 100px;
  overflow: hidden;
  scrollbar-width: none;
}
.navbar .container-fluid #imglogo {
  width: 200px;
  padding-left: 10px;
  margin-left: 8px;
  margin-bottom: 0%;
  margin-top: 1%;
}
.navbar .container-fluid .tituloH1 {
  position: relative;
  color: #ebebeb;
  font-family: "ShadowsIntoLight";
  left: 210px;
  top: -70px;
  font-size: 34pt;
}
.navbar .container-fluid .navbar-brand {
  max-height: 100px;
}
.navbar .container-fluid .navbar-toggler {
  position: relative;
  transition: 0.4s;
}
.navbar .container-fluid .navbar-toggler:hover, .navbar .container-fluid .navbar-toggler:active, .navbar .container-fluid .navbar-toggler:focus {
  border-color: #afafaf;
}
.navbar .container-fluid .offcanvas-header, .navbar .container-fluid .offcanvas-body {
  background-color: #444444;
}
.navbar .container-fluid .offcanvas-body .navbar-nav {
  margin-bottom: 30px;
}
.navbar .container-fluid .offcanvas-body .tituloMenu {
  position: relative !important;
  color: #ebebeb !important;
  font-family: "ShadowsIntoLight";
  left: 210px;
  top: -70px;
  font-size: 34pt;
  width: 70px;
}

/* seteos de pie de pagina */
footer {
  background-color: #444444;
  width: 100%;
  text-align: center;
}

footer h2 {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: #ebebeb !important;
  font-size: 16pt;
}

footer p {
  color: #ebebeb !important;
  font-family: "SourceSansPro";
  font-size: 10pt !important;
  margin-bottom: 0px;
}

footer img {
  max-width: 50px;
  border: 0px rgb(255, 255, 255) solid;
  border-radius: 80px;
  transition: 0.5s;
  filter: brightness(50%);
}
footer img:hover {
  max-width: 60px;
  filter: brightness(100%);
}

.whatsappBtn {
  z-index: 90;
  position: sticky;
  left: 94%;
  top: 80%;
  filter: blur(1px);
  height: 55px;
  width: 55px;
  filter: blur(85%);
  transition: 0.5s;
}
.whatsappBtn:hover {
  filter: blur(0px);
}
.whatsappBtn img {
  border: 0px solid;
  border-radius: 80px;
  width: 60px;
  transition: 0.5s;
  filter: brightness(50%);
}
.whatsappBtn img:hover {
  filter: brightness(100%);
}

.h2titulo {
  margin-top: 100px;
  margin-bottom: 30px;
}

/* seteos de index */
#gridreginfo {
  margin-top: 30px;
}
#gridreginfo button {
  background-color: #444444;
  transition: 0.4s;
  font-size: 20px;
}
#gridreginfo button:hover {
  background-color: #646464 !important;
  border-color: #646464 !important;
  color: #eeecec !important;
}
#gridreginfo #gridregbtn {
  padding-left: 60px;
  padding-right: 60px;
}
#gridreginfo #gridinfobtn {
  padding-left: 40px;
  padding-right: 40px;
}

.carousel-inner .divimg1 {
  top: -105px;
}
.carousel-inner .divimg1 img {
  filter: grayscale(70%) blur(0.75px);
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
}
.carousel-inner .divimg1 img:hover {
  filter: grayscale(0%) blur(0px);
}

.div-tecnologia,
.div-analisis,
.div-award {
  margin-top: 40px;
  margin-bottom: 40px;
}
.div-tecnologia img,
.div-analisis img,
.div-award img {
  width: 100px;
  transition: 0.5s;
}
.div-tecnologia img:hover,
.div-analisis img:hover,
.div-award img:hover {
  width: 115px;
}

.mapa {
  margin-top: 10px;
  margin-bottom: 50px;
  max-height: 100%;
}
.mapa iframe {
  width: 100%;
  height: 250px;
  transition: 0.5s;
}
.mapa iframe:hover {
  width: 105%;
  height: 280px;
}

.formbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.boletin {
  margin-bottom: 50px;
}
.boletin form {
  background-color: #444444;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.boletin form #formnombre {
  margin-left: 30px;
}
.boletin form #formemail {
  margin-left: 50px;
}
.boletin form #formenviar {
  margin-top: 20px;
  margin-left: 0%;
  padding-left: 25%;
  padding-right: 25%;
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  color: #444444 !important;
  transition: 0.4s;
}
.boletin form #formenviar:hover {
  background-color: #eeecec !important;
  border-color: #eeecec !important;
  color: #444444 !important;
}

.descarga-app img {
  width: 150px;
  margin-bottom: 50px;
  transition: 0.4s;
}
.descarga-app img:hover {
  width: 170px;
}
.descarga-app img.googleplay {
  margin-top: 2px;
  width: 145px;
}
.descarga-app img.googleplay:hover {
  width: 165px;
}

/* seteos de estudios */
#estudiosImg4 {
  margin-bottom: 50px;
}

.estudiosImg img {
  filter: grayscale(70%) blur(0.75px);
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
}
.estudiosImg img:hover {
  filter: grayscale(0%) blur(0px);
}

/* seteos de ordenes */
#ordenesImg1 {
  margin-bottom: 50px;
}

#ordenesDocumento {
  margin-top: 30px;
  padding-left: 5.5%;
}

#ordenesNombrelbl {
  margin-top: 30px;
  padding-left: 5.5%;
}

#ordenesFechalbl {
  margin-top: 30px;
  padding-left: 9%;
}

#ordenesFechainp {
  color: #444444;
}

#ordenesAnalisislbl {
  margin-top: 30px;
  margin-left: 6.5%;
}

#ordenesAnalisis {
  color: #444444;
}

.ordenesEnviar .btn {
  margin-top: 40px;
  margin-left: 0%;
  padding-left: 45%;
  padding-right: 45%;
  margin-bottom: 30px;
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #eeecec !important;
  transition: 0.4s;
}
.ordenesEnviar .btn:hover {
  background-color: #646464 !important;
  border-color: #646464 !important;
  color: #eeecec !important;
}

.ordenesImg img {
  filter: grayscale(70%) blur(0.75px);
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
}
.ordenesImg img:hover {
  filter: grayscale(0%) blur(0px);
}

/* seteos de staff */
#staffImg3 {
  margin-bottom: 50px;
}

.staffPieImagen1 {
  text-align: center;
}

.staffPieImagen2 {
  text-align: center;
}

.staffImg img {
  filter: grayscale(70%) blur(0.75px);
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
}
.staffImg img:hover {
  filter: grayscale(0%) blur(0px);
}

/* seteos de contacto */
.contactoNosConoce {
  margin-top: 10px;
  margin-left: 0%;
}

#flexCheckChecked,
#contactoConoceSi,
#contactoConoceNo {
  transition: 0.4s;
  background-color: #eeecec !important;
  border-color: #444444 !important;
  color: #eeecec !important;
}
#flexCheckChecked:hover, #flexCheckChecked:focus, #flexCheckChecked:active, #flexCheckChecked:checked,
#contactoConoceSi:hover,
#contactoConoceSi:focus,
#contactoConoceSi:active,
#contactoConoceSi:checked,
#contactoConoceNo:hover,
#contactoConoceNo:focus,
#contactoConoceNo:active,
#contactoConoceNo:checked {
  background-color: #646464 !important;
  border-color: #646464 !important;
  color: #eeecec !important;
}

#contactoRecibirInfo {
  margin-top: 20px;
  margin-left: 5px;
  margin-top: 20px;
  margin-left: 5px;
}

.contactoEnviar .btn {
  margin-top: 40px;
  margin-left: 0%;
  padding-left: 45%;
  padding-right: 45%;
  margin-bottom: 30px;
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #eeecec !important;
  transition: 0.4s;
}
.contactoEnviar .btn:hover {
  background-color: #646464 !important;
  border-color: #646464 !important;
  color: #eeecec !important;
}

.contactoImg img {
  filter: grayscale(70%) blur(0.75px);
  transition: 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contactoImg img:hover {
  filter: grayscale(0%) blur(0px);
}

/* MEDIA QUERIES */
/*DADO QUE EL SITIO ES DESKTOP-FIRST, LAS MEDIA QUERIES SE REALIZAN DE MAYOR A MENOR RESOLUCIÓN*/
/*SETEOS DE PC*/
@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
  .div-tecnologia h3,
  .div-analisis h3,
  .div-award h3 {
    font-size: 20px;
  }
  .whatsappBtn {
    left: 90%;
    top: 72%;
    height: 45px;
    width: 45px;
  }
  .boletin {
    margin-left: 0px;
  }
  .boletin form #formnombre {
    margin-left: 10px;
  }
  .boletin form #formemail {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .carousel-inner .divimg1 {
    top: 0px;
  }
  .div-tecnologia,
  .div-analisis,
  .div-award {
    margin-top: 20px;
  }
  .div-tecnologia img,
  .div-analisis img,
  .div-award img {
    width: 80px;
  }
  .h2titulo {
    text-align: center;
  }
  .boletin form {
    padding: 5px 40px 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contactoEnviar {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .divimg1 {
    margin-top: 110px;
  }
}
@media (max-width: 620px) {
  .whatsappBtn {
    left: 85%;
    top: 72%;
  }
}
/*SETEOS DE TABLET*/
@media (max-width: 576px) {
  #formnombre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .boletin {
    margin-bottom: 30px;
  }
  .boletin form {
    background-color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .boletin form #formnombre {
    margin-left: 15px;
  }
  .boletin form #formemail {
    margin-left: 15px;
  }
}
@media (max-width: 500px) {
  #imglogo {
    width: 150px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0% !important;
    margin-top: 0% !important;
  }
  .whatsappBtn {
    left: 85%;
    top: 75%;
  }
  .whatsappBtn img {
    height: 50px;
    width: 50px;
  }
  .h2titulo {
    margin-top: 70px;
    font-size: 18pt;
  }
  .tituloH1 {
    left: 153px !important;
    top: -52px !important;
    font-size: 24pt !important;
  }
  .container-fluid {
    max-height: 75px !important;
  }
  .navbar-toggler {
    top: -15px;
  }
  .tituloMenu {
    left: 153px !important;
    top: -52px !important;
    font-size: 24pt !important;
  }
  footer p {
    color: #ebebeb;
    font-size: 8pt;
  }
  .div-tecnologia,
  .div-analisis,
  .div-award {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ubicacion,
  .mapa,
  .boletin {
    margin-top: 30px;
    text-align: center;
  }
  .mapa {
    margin-bottom: 10px;
  }
  .ordenesEnviar .btn {
    padding-left: 40% !important;
    padding-right: 40% !important;
    margin-bottom: 10px !important;
  }
  #ordenesImg1 {
    margin-top: 20px !important;
  }
  .contactoEnviar .btn {
    padding-left: 40%;
    padding-right: 40%;
    margin-bottom: 10px;
  }
}
/*SETEOS MOBILE*/
@media (max-width: 360px) {
  main p {
    font-size: 16px !important;
  }
  .whatsappBtn {
    left: 83%;
    top: 85%;
  }
  .container-fluid {
    max-height: 55px;
  }
  .navbar-toggler {
    top: -15px;
    max-height: 30px;
    max-width: 40px;
  }
  footer h2 {
    font-size: 16 px;
  }
  footer img {
    max-width: 40px;
  }
  footer img:hover {
    max-width: 50px;
  }
  .navbar-toggler-icon {
    position: relative !important;
    right: 5px !important;
    top: -5px !important;
    max-width: 25px !important;
  }
  .div-tecnologia,
  .div-analisis,
  .div-award {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .ubicacion,
  .mapa,
  .boletin {
    margin-top: 15px;
  }
  .descarga-app img {
    margin-bottom: 20px;
  }
  .ordenesEnviar .btn {
    margin-left: 0px !important;
    padding-left: 30% !important;
    padding-right: 30% !important;
  }
  .contactoEnviar .btn {
    margin-left: 20px !important;
    padding-left: 30% !important;
    padding-right: 30% !important;
  }
}
@media (max-width: 310px) {
  .h2titulo {
    margin-top: 50px !important;
    font-size: 18px;
  }
  .whatsappBtn {
    top: 85% !important;
  }
  .whatsappBtn img {
    height: 45px !important;
    width: 45px !important;
  }
  #imglogo {
    width: 120px !important;
    z-index: 2 !important;
  }
  .container-fluid {
    max-height: 65px !important;
    z-index: 1 !important;
    flex-wrap: wrap;
  }
  .navbar-toggler {
    z-index: 89 !important;
    background-color: #444444 !important;
  }
  .tituloH1 {
    left: 125px !important;
    top: -42px !important;
    font-size: 26px !important;
  }
  .tituloMenu {
    left: 125px !important;
    top: -44px !important;
    font-size: 28px !important;
  }
  #formenviar {
    margin-left: 20px !important;
  }
  .contactoEnviar .btn {
    margin-left: 0px !important;
  }
}
@media (max-width: 250px) {
  html {
    overflow-x: hidden;
  }
  #imglogo {
    width: 80px !important;
  }
  .tituloH1 {
    left: 45px !important;
    top: -12px !important;
    font-size: 12pt !important;
  }
  .tituloMenu {
    left: 83px !important;
    top: -28px !important;
    font-size: 18px !important;
  }
  .container-fluid {
    max-height: 45px !important;
  }
  .navbar-toggler {
    top: -15px !important;
    max-height: 25px !important;
    max-width: 35px !important;
  }
  .navbar-toggler-icon {
    right: 5px !important;
    top: -7px !important;
    max-width: 20px !important;
  }
  .h2titulo {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
  }
  footer h2 {
    font-size: 12px !important;
  }
  footer p {
    font-size: 9px !important;
  }
  footer img {
    max-width: 30px;
  }
  footer img:hover {
    max-width: 40px;
  }
  #formnombre,
  #formemail {
    margin-left: 0px !important;
    font-size: 16px !important;
  }
  #formenviar {
    font-size: 16px !important;
  }
  .descarga-app img {
    margin-left: 0px !important;
    width: 120px;
  }
  .descarga-app img:hover {
    width: 130px;
  }
  .descarga-app .googleplay {
    width: 120px !important;
  }
  .descarga-app .googleplay:hover {
    width: 130px !important;
  }
  .boletin {
    margin-bottom: 20px;
  }
  .boletin form {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
