/* seteos de contacto */

.contactoNosConoce {
    @include formSpace(10px, 0%);
}


#flexCheckChecked,
#contactoConoceSi,
#contactoConoceNo {
    transition: 0.4s;
    @include colors ($sixthColor, $mainColor, $sixthColor);

    &:hover,
    &:focus,
    &:active,
    &:checked {
        @include colors ($thirdColor, $thirdColor, $sixthColor);
    }
}

#contactoRecibirInfo {
    @include formSpace(20px, 5px);
    margin-top: 20px;
    margin-left: 5px;
}

.contactoEnviar {
    & .btn {
        @include buildSubmit;

        &:hover {
            @include colors ($thirdColor, $thirdColor, $sixthColor);
        }
    }
}

.contactoImg  {
    & img {
        @include imageEffect;
        &:hover{
            filter: grayscale(0%) blur(0px);
        }
    }
     
}