/* seteos de index */

#gridreginfo {
    margin-top: 30px;

    & button {
        background-color: $mainColor;
        transition: 0.4s;
        font-size: 20px;

        &:hover {
            @include colors($thirdColor, $thirdColor, $sixthColor);


        }
    }

    & #gridregbtn {
        @include buildRegInfo(60px, 60px);
    }

    & #gridinfobtn {
        @include buildRegInfo(40px, 40px);
    }
}

.carousel-inner {
    & .divimg1 {
        top: -105px;
        & img {
            @include imageEffect;

            &:hover {
                filter: grayscale(0%) blur(0px);
            }
        }

    }
}


.div-tecnologia,
.div-analisis,
.div-award {
    margin-top: 40px;
    margin-bottom: 40px;

    & img {
        width: 100px;
        transition: 0.5s;

        &:hover {
            width: 115px;
        }
    }
}

.mapa {
    margin-top: 10px;
    margin-bottom: 50px;
    max-height: 100%;

    & iframe {
        width: 100%;
        height: 250px;
        transition: 0.5s;

        &:hover {
            width: 105%;
            height: 280px;
        }
    }
}



.formbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.boletin {
    margin-bottom: 50px;

    & form {
        background-color: $mainColor;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;

        & #formnombre {
            margin-left: 30px;
        }

        & #formemail {
            margin-left: 50px;
        }

        & #formenviar {
            @include formSpace(20px, 0%);
            padding-left: 25%;
            padding-right: 25%;
            margin-left: 40px;
            margin-bottom: 20px;
            @include colors ($fifthColor, $fifthColor, $mainColor);
            transition: 0.4s;

            &:hover {
                @include colors ($sixthColor, $sixthColor, $mainColor);
            }

        }
    }
}




.descarga-app img {
    width: 150px;
    margin-bottom: 50px;
    transition: 0.4s;

    &:hover {
        width: 170px;
    }

    &.googleplay {
        margin-top: 2px;
        width: 145px;

        &:hover {
            width: 165px;
        }
    }
}