/* MEDIA QUERIES */

/*DADO QUE EL SITIO ES DESKTOP-FIRST, LAS MEDIA QUERIES SE REALIZAN DE MAYOR A MENOR RESOLUCIÓN*/

/*SETEOS DE PC*/

@media(max-width:992px) {

    //SETEO GENERAL DE PARRAFO
    p {
        font-size: 18px;
    }

    //SETEOS DE INDEX
    .div-tecnologia h3,
    .div-analisis h3,
    .div-award h3 {
        font-size: 20px;
    }

    .whatsappBtn {
        left: 90%;
        top: 72%;
        height: 45px;
        width: 45px;
    }

    .boletin {
        margin-left: 0px;

        & form {
            & #formnombre {
                margin-left: 10px;
            }

            & #formemail {
                margin-left: 20px;
            }
        }
    }
}


@media(max-width:768px) {

    //SETEOS DE INDEX

    .carousel-inner {
        & .divimg1 {
            top: 0px;
        }
    }

    .div-tecnologia,
    .div-analisis,
    .div-award {
        margin-top: 20px;

        & img {
            width: 80px;
        }
    }

    .h2titulo {
        text-align: center;
    }

    .boletin {
        & form {

            padding: (5px 40px 5px 10px);
            margin-left: 10px;
            margin-right: 10px;

        }
    }

    //SETEOS DE CONTACTO

    .contactoEnviar {
        margin-bottom: 30px;
    }
}

@media(min-width:768px) {

    //SETEOS DE INDEX

    .divimg1 {
        margin-top: 110px;
    }

}

@media(max-width:620px) {

    //SETEOS GENERALES

    //BOTON WHATSAPP
    .whatsappBtn {
        left: 85%;
        top: 72%;
    }
}

/*SETEOS DE TABLET*/

@media (max-width:576px) {

    //SETEOS DE INDEX

    #formnombre {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boletin {
        margin-bottom: 30px;

        & form {
            background-color: $mainColor;
            padding-top: 20px;
            padding-bottom: 20px;

            & #formnombre {
                margin-left: 15px;
            }

            & #formemail {
                margin-left: 15px;
            }
        }

    }
}

@media (max-width:500px) {

    //SETEOS GENERALES
    #imglogo {
        width: 150px !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 0% !important;
        margin-top: 0% !important;
    }

    //BOTON WHATSAPP
    .whatsappBtn {
        left: 85%;
        top: 75%;

        & img {
            height: 50px;
            width: 50px;
        }
    }

    //TITULOS H2 DE SECCIONES, EXCEPTO INDEX
    .h2titulo {
        margin-top: 70px;
        font-size: 18pt;
    }

    //SETEOS DE NAVBAR
    
    .tituloH1 {
        left: 153px !important;
        top: -52px !important;
        font-size: 24pt !important;
    }

    .container-fluid {
        max-height: 75px !important;
    }

    .navbar-toggler {
        top: -15px;
    }

    .tituloMenu {
        left: 153px !important;
        top: -52px !important;
        font-size: 24pt !important;
    }

    //SETEOS DE FOOTER

    footer p {
        color: $secondColor;
        font-size: 8pt;
    }



    //SETEOS DE INDEX

    .div-tecnologia,
    .div-analisis,
    .div-award {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ubicacion,
    .mapa,
    .boletin {
        margin-top: 30px;
        text-align: center;
    }

    .mapa {
        margin-bottom: 10px;
    }

    //SETEOS DE ORDENES

    .ordenesEnviar {
        & .btn {
            padding-left: 40% !important;
            padding-right: 40% !important;
            margin-bottom: 10px !important;
        }
    }

    #ordenesImg1 {
        margin-top: 20px !important;
    }

    //SETEOS DE CONTACTO

    .contactoEnviar {
        & .btn {
            padding-left: 40%;
            padding-right: 40%;
            margin-bottom: 10px;
        }
    }

}

/*SETEOS MOBILE*/

@media (max-width:360px) {

    //SETEOS GENERALES

    main p {
        font-size: 16px !important;
    }

    //BOTON WHATSAPP
    .whatsappBtn {
        left: 83%;
        top: 85%;
    }

    //SETEOS DE NAVBAR

    .container-fluid {
        max-height: 55px;
    }

    .navbar-toggler {
        top: -15px;
        max-height: 30px;
        max-width: 40px;
    }

    //SETEOS DE FOOTER


    footer {

        & h2 {
            font-size: 16 px;
        }

        & img {
            max-width: 40px;

            &:hover {
                max-width: 50px;
            }
        }
    }

    .navbar-toggler-icon {
        position: relative !important;
        right: 5px !important;
        top: -5px !important;
        max-width: 25px !important;
    }

    //SETEOS DE INDEX

    .div-tecnologia,
    .div-analisis,
    .div-award {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ubicacion,
    .mapa,
    .boletin {
        margin-top: 15px;
    }

    .descarga-app img {
        margin-bottom: 20px;
    }

    //SETEOS DE ORDENES

    .ordenesEnviar {
        & .btn {
            margin-left: 0px !important;
            padding-left: 30% !important;
            padding-right: 30% !important;

        }
    }

    //SETEOS DE CONTACTO

    .contactoEnviar {
        & .btn {
            margin-left: 20px !important;
            padding-left: 30% !important;
            padding-right: 30% !important;

        }
    }

}

@media (max-width:310px) {

    //SETEOS GENERALES

    .h2titulo {
        margin-top: 50px !important;
        font-size: 18px;
    }

    //BOTON DE WHATSAPP

    .whatsappBtn {
        top: 85% !important;

        & img {
            height: 45px !important;
            width: 45px !important;
        }
    }

    //SETEOS DE NAVBAR

    #imglogo {
        width: 120px !important;
        z-index: 2 !important;
    }

    .container-fluid {
        max-height: 65px !important;
        z-index: 1 !important;
        flex-wrap: wrap;
    }

    .navbar-toggler {
        z-index: 89 !important;
        background-color: $mainColor !important;
    }

    .tituloH1 {
        left: 125px !important;
        top: -42px !important;
        font-size: 26px !important;
    }

    .tituloMenu {
        left: 125px !important;
        top: -44px !important;
        font-size: 28px !important;
    }

    //SETEOS DE INDEX

    #formenviar {
        margin-left: 20px !important;
    }

    //SETEOS DE CONTACTO

    .contactoEnviar {
        & .btn {
            margin-left: 0px !important;
        }
    }
}

@media (max-width:250px) {

    //SETEOS GENERALES

    html {
        overflow-x: hidden;
    }

    //SETEOS DE NAVBAR

    #imglogo {
        width: 80px !important;
    }

    .tituloH1 {
        left: 45px !important;
        top: -12px !important;
        font-size: 12pt !important;
    }

    .tituloMenu {
        left: 83px !important;
        top: -28px !important;
        font-size: 18px !important;
    }

    .container-fluid {
        max-height: 45px !important;
    }

    .navbar-toggler {
        top: -15px !important;
        max-height: 25px !important;
        max-width: 35px !important;
    }

    .navbar-toggler-icon {
        right: 5px !important;
        top: -7px !important;
        max-width: 20px !important;
    }

    .h2titulo {
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }

    //SETEOS DE FOOTER

    footer {

        & h2 {
            font-size: 12px !important;
        }

        & p {
            font-size: 9px !important;
        }

        & img {
            max-width: 30px;

            &:hover {
                max-width: 40px;
            }
        }
    }

    //SETEOS DE INDEX

    #formnombre,
    #formemail {
        margin-left: 0px !important;
        font-size: 16px !important;
    }

    #formenviar {
        font-size: 16px !important;
    }

    .descarga-app {

        & img {
            margin-left: 0px !important;
            width: 120px;

            &:hover {
                width: 130px;
            }
        }

        & .googleplay {
            width: 120px !important;

            &:hover {
                width: 130px !important;
            }
        }
    }

    .boletin {
        margin-bottom: 20px;

        & form {
            padding-top: 0px;
            padding-bottom: 0px;

        }
    }
}