/* media queries */

@media (max-width:250px) {
    #imglogo {
        width: 70px !important;
    }

    .tituloH1 {
        left: 70px !important;
        top: -27px !important;
        font-size: 14pt !important;
    }

    .container-fluid {
        max-height: 45px !important;
    }

    .navbar-toggler {
        top: -15px !important;
        max-height: 25px !important;
        max-width: 35px !important;
    }

    .navbar-toggler-icon {
        right: 5px !important;
        top: -7px !important;
        max-width: 20px !important;
    }

}

@media (max-width:310px) {
    #imglogo {
        width: 120px !important;
        z-index: 2 !important;
    }

    .container-fluid {
        max-height: 65px !important;
        z-index: 1 !important;
    }

    .navbar-toggler {
        z-index: 10 !important;
        background-color: $mainColor !important;
    }

    .tituloMenu {
        left: 67px !important;
        top: -18px !important;
        font-size: 18pt !important;
        z-index: 3 !important;
    }

    .whatsappBtn {
        top: 70% !important;

        & img {
            height: 45px !important;
            width: 45px !important;
        }
    }

    .h2titulo {
        margin-top: 50px !important;
    }

    #formenviar {
        margin-left: 20px !important;
    }

    .contactoEnviar {
        & .btn {
            margin-left: 0px !important;
        }
    }
}

@media (max-width:360px) {

    .container-fluid {
        max-height: 55px !important;
    }

    .navbar-toggler {
        top: -15px !important;
        max-height: 30px !important;
        max-width: 40px !important;
    }

    .navbar-toggler-icon {
        position: relative !important;
        right: 5px !important;
        top: -5px !important;
        max-width: 25px !important;
    }



    .contactoEnviar {
        & .btn {
            margin-left: 20px !important;
            padding-left: 30% !important;
            padding-right: 30% !important;

        }
    }

    .ordenesEnviar {
        & .btn {
            margin-left: 20px !important;
            padding-left: 30% !important;
            padding-right: 30% !important;

        }
    }

    footer img {
        max-width: 40px;

        &:hover {
            max-width: 50px;
        }
    }


    .descarga-app img {
        margin-bottom: 20px;
    }

}

@media (max-width:500px) {
    #imglogo {
        width: 150px !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 0% !important;
        margin-top: 0% !important;
    }

    .tituloH1 {
        left: 153px !important;
        top: -52px !important;
        font-size: 24pt !important;
    }

    .container-fluid {
        max-height: 75px !important;
    }

    .navbar-toggler {
        top: -15px !important;
    }

    .tituloMenu {
        left: 153px !important;
        top: -52px !important;
        font-size: 24pt !important;
    }

    .whatsappBtn {
        left: 85% !important;
        top: 75% !important;

        & img {
            height: 50px !important;
            width: 50px !important;
        }
    }

    p {
        font-size: 10pt !important;
    }

    .h2titulo {
        margin-top: 70px !important;
        font-size: 18pt !important;
    }

    .div-tecnologia,
    .div-analisis,
    .div-award {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .ubicacion,
    .mapa,
    .boletin {
        margin-top: 30px !important;
        text-align: center !important;
    }

    .contactoEnviar {
        & .btn {
            padding-left: 40% !important;
            padding-right: 40% !important;
            margin-bottom: 10px !important;
        }
    }

    .ordenesEnviar {
        & .btn {
            padding-left: 40% !important;
            padding-right: 40% !important;
            margin-bottom: 10px !important;
        }
    }

    #ordenesImg1 {
        margin-top: 20px !important;
    }

    footer h2 {
        font-size: 11 pt !important;
    }

    footer p {
        color: $secondColor !important;
        font-size: 8pt !important;
    }
}

@media (max-width:576px) {
    #formnombre {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boletin {
        margin-bottom: 30px !important;

        & form {
            background-color: $mainColor !important;
            padding-top: 20px !important;
            padding-bottom: 20px !important;

            & #formnombre {
                margin-left: 15px !important;
            }

            & #formemail {
                margin-left: 15px !important;
            }
        }

    }
}

@media(max-width:768px) {

    .div-tecnologia img,
    .div-analisis img,
    .div-award img {
        width: 80px;

    }

    .h2titulo {
        text-align: center;
    }

    .contactoEnviar {
        margin-bottom: 30px;
    }

    .boletin {
        & form {

            padding: (5px 40px 5px 10px);
            margin-left: 10px !important;
            margin-right: 10px !important;

        }
    }
}



@media(max-width:992px) {
    p {
        font-size: 18px;
    }

    .div-tecnologia h3,
    .div-analisis h3,
    .div-award h3 {
        font-size: 20px;
    }

    .whatsappBtn {
        left: 90%;
        top: 72%;
        height: 45px;
        width: 45px;
    }

    .boletin {
        margin-left: 0px !important;

        & form {
            & #formnombre {
                margin-left: 10px;
            }

            & #formemail {
                margin-left: 20px;
            }
        }
    }
}


@media(min-width:768px) {
    .divimg1 {
        margin-top: 110px;
    }

}