/* media queries */

@media (max-width:250px) {
    #imglogo {
        width: 70px;
    }

    .tituloH1 {
        left: 70px;
        top: -27px;
        font-size: 14pt;
    }

    .container-fluid {
        max-height: 45px;
    }

    .navbar-toggler {
        top: -15px;
        max-height: 25px;
        max-width: 35px;
    }

    .navbar-toggler-icon {
        right: 5px;
        top: -7px;
        max-width: 20px;
    }

}

@media (max-width:360px) {
    #imglogo {
        width: 100px;
    }

    .tituloH1 {
        left: 100px;
        top: -35px;
        font-size: 16pt;
    }

    .container-fluid {
        max-height: 55px;
    }

    .navbar-toggler {
        top: -15px;
        max-height: 30px;
        max-width: 40px;
    }

    .navbar-toggler-icon {
        position: relative;
        right: 5px;
        top: -5px;
        max-width: 25px;
    }

}

@media (max-width:500px) {
    #imglogo {
        width: 150px;
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .tituloH1 {
        left: 153px;
        top: -52px;
        font-size: 24pt;
    }

    .container-fluid {
        max-height: 75px;
    }

    .navbar-toggler {
        top: -15px;
    }

    .whatsappBtn img {
        height: 40px;
        width: 40px;
    }

}

@media(max-width:768px) {

    .div-tecnologia img,
    .div-analisis img,
    .div-award img {
        width: 80px;

    }
}

@media(max-width:992px) {
    p {
        font-size: 18px;
    }

    .div-tecnologia h3,
    .div-analisis h3,
    .div-award h3 {
        font-size: 20px;
    }

    .whatsappBtn {
        left: 90%;
        top: 72%;
        height: 45px;
        width: 45px;
    }
}


@media(min-width:768px) {
    .divimg1 {
        margin-top: 110px;
    }

}