/* seteos de staff */

#staffImg3 {
    margin-bottom: 50px;
}

.staffPieImagen1{
    text-align: center;
}

.staffPieImagen2{
    text-align: center;
}

.staffImg {
    & img {
        @include imageEffect;
        &:hover{
            filter: grayscale(0%) blur(0px);
        }
    }
     
}