//FONTS

/* fuente general */
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

/*fuente health*/
@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}
